body {
    display: flex;
    justify-content: center;
    background-color: rgb(211, 211, 211);
}

#incognito {
    width: 45px;
    height: 45px;
    margin: 25%;
    display: block;
}

.loginForm {
    background-color: rgb(255, 255, 255);
    top: 20%;
    position: absolute;
}

#container {
    margin: 80px;
}

#LogIn {
    background-color: rgb(114, 228, 180);
    padding: 10px;
    border-radius: 25%;
    border: 45px;
    margin: 20%;
}